:root {
    /* 투명배경 */
    --back_color : transparent;
    /* 글꼴투명 */
    --font_color : transparent;
    /* 주컬러 */
   --main_color01 : #ffffff;
   --main_color02 : #eed5ff;
   --main_color03 : #DDAAFF;
   --main_color04 : #CC80FF;
   --main_color05 : #BB55FF;
   --main_color06 : #AA2BFF;
   --main_color07 : #9900ff;
   --main_color08 : #72cbff;
   --main_color09 : #00a2ff;
   --gray : #6c757d;
   --white_gray : #eeeeee;
   --dark_gray : #333333;
}

@media all and (min-width:1024px) {
     /* header */
     header {
        background-color: transparent;
        width: 100%;
        padding: 0.8rem;
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 100;
        opacity: 1;
        box-sizing: border-box;
    }

    h1 img {
        width: 3em;
        margin-top: 1.2rem;
    }
    
    header:hover {
        background-color: var(--main_color02);
    }

    /* header scroll event */

    .on {
        width: 100%;
        height: 80px;
        padding: 0.6rem;
        position: fixed;
        right: 0px;
        top: 0px;
        transition: 1s;
        opacity: 1;
    }

    /* mainMenu 메인메뉴 스타일 */
    nav {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .mainMenu {
        display: flex;
    }

    .mainMenu li {
        width: 100%;
        height: 80px;
        line-height: 80px;
    }

    .mainMenu a {
        width: 100%;
        height: 100%;
        display: block;
        font-weight: bold;
        color: var(--main_color04);
        font-size: 1.2rem;
        padding: 0px 2em;
        box-sizing: border-box;
    }

    .mainMenu a:hover {
        color: var(--main_color07);
    }

    /* subMenu 서브메뉴 스타일*/
    .subBack {
        display: none;
    }

    .subMenu {
        display: none;
    }

    /* menuBar 서브메뉴 bar */
    .menuBar {
        display: none;
    }

    /* main 영역 */
    /* welcome section */
    #welcome {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
    .welDetail {
        width: 80%;
        height: 80vh;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* welLeft 영역 */

    .welDetail .welLeft {
        width: 65%;
        position: relative;
        overflow: hidden;
    }

    .welDetail .welLeft div {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /* opacity: 0; */
    }

    .welDetail .welLeft h3 {
        font-size: 8em;
        text-align: center;
        background: linear-gradient(90deg, #00a2ff 20%, #9900ff 80%);
        color: transparent;
        background-clip: text;
        background-size: 150%;
    
        animation: 
            moveToLeft 2s ease-out forwards,
            moveGradient 2s linear infinite;
    }
    
    @keyframes moveToLeft {
        0% {
            opacity: 0;
            transform: translateX(-500px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes moveGradient {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 100% 50%;
        }
    }

    .welDetail .welLeft p {
        font-size: 2em;
        color: var(--main_color04);
        text-align: right;
        background: linear-gradient(150deg, rgb(153, 0, 255) 80%, rgb(238, 213, 255) 20%);
        color: transparent;
        background-clip: text;
        background-size: 150%;
    
        animation: 
            moveToRight 2s ease-out forwards,
            moveGra 2s linear infinite;
    }
    
    @keyframes moveToRight {
        0% {
            transform: translateX(200px);
            opacity: 0;
        };

        100% {
            transform: translateX(0);
            opacity: 1;
        };
    }

    @keyframes moveGra {
        0% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    /* /welLeft 영역 */

    /* welRight 영역 */

    .welDetail .welRight {
        width: 35%;
        position: relative;
        overflow: hidden;
    }

    .welDetail .welRight div {
        width: 90%;
        height: 70%;
        min-height: 650px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
    }

    .welDetail .welRight div .welAll {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: 5px solid var(--main_color03);
        overflow: hidden;
        position: relative;

        animation: moveWelAll 1s ease-out forwards;
    }

    @keyframes moveWelAll {
        0% {
            transform: translateY(500px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }


    .welDetail .welRight div .welAll .welTop {
        width: 100%;
        height: 15%;
        overflow: hidden;
        padding: 1.2em;
        box-sizing: border-box;
    }

    .welDetail .welRight div .welAll .welTop > ul {
        display: flex;
        justify-content: space-between;
    }

    .welDetail .welRight div .welAll .welTop > ul > li:nth-child(2) {
        text-align: right;
        font-size: 1.5em;
        margin-top: 0.7em;
    }

    .welTopDetail {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .welTopDetail .welProfile {
        width: 50px;
        height: 50px;
    }

    .welTopDetail img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .welTopDetail li:nth-child(2) {
        margin-left: 0.8em;
    }

    .welTopDetail li:nth-child(2) p {
        width: 100%;
        margin-top: 0.5em;
    }

    .welDetail .welRight div .welAll .welMiddle {
        width: 100%;
        height: 55%;
        overflow: hidden;
    }

    .welDetail .welRight div .welAll .welMiddle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .welDetail .welRight div .welAll .welBottom {
        width: 100%;
        height: 30%;
        padding: 1.2em;
        box-sizing: border-box;
    }

    .welDetail .welRight div .welAll .welBottom > ul {
        width: 100%;
    }

    .welDetail .welRight div .welAll .welBottom > ul > li {
        width: 100%;
        margin-bottom: 0.8em;
    }

    .welBottomTop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    .welBottomTop li:nth-child(2) {
        text-align: right;
    }

    .heart {
        color: #f00;
    }

    /* /welRight 영역 */
    /* /welcome section */

    /* Aboutme 영역 */
    #aboutme {
        width: 100%;
        height: 100vh;
        padding: 4em;
        box-sizing: border-box;
    }

    #aboutme h2 {
        text-align: right;
        font-size: 5em;
        margin-top: 0.5em;
    }

    h2 span {
        background: linear-gradient(90deg, #72cbff 20%, #a74ae4 80%);
        color: transparent;
        background-clip: text;
        background-size: 200%;
        display: inline-block;
        animation: 
            moveLetter 1s ease-in-out infinite,
            moveLetterCra 1s linear infinite;
        ;
    }

    /* Delay for each letter */
    h2 span:nth-child(1) { animation-delay: 0s; }
    h2 span:nth-child(2) { animation-delay: 0.2s; }
    h2 span:nth-child(3) { animation-delay: 0.4s; }
    h2 span:nth-child(4) { animation-delay: 0.6s; }
    h2 span:nth-child(5) { animation-delay: 0.8s; }
    h2 span:nth-child(6) { animation-delay: 1s; }
    h2 span:nth-child(7) { animation-delay: 1.2s; }

    /* Animation keyframes */
    @keyframes moveLetter {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes moveLetterCra {
        0% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    #aboutme > ul {
        width: 80%;
        height: 70vh;
        background-color: #72cbff;
        margin: 0px auto;

        display: flex;
        justify-content: center;
        gap: 10%;
    }

    .aboutLeft {
        width: 40%;
        height: 100%;
        perspective: 900px;
    }

    .card {
        width: 100%;
        height: 100%;
        min-height: 540px;
        position: relative;
        transform-style: preserve-3d;
        transition: 3s;
    }

    @keyframes flipCard {
        0% {
            transform: rotateY(0deg);
        }
        100% {
            transform: rotateY(180deg);
        }
    }

    .flip {
        animation: flipCard 3s infinite alternate;
    }

    /* hover 시 애니메이션 멈춤 */
    .flip:hover {
        animation-play-state: paused;
    }

    .aboutFront {
        width: 100%;
        height: 100%;
        color: #fff;
        background: url(./../img/section/semi.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-size: 0.8em;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        backface-visibility: hidden;
        z-index: 10;
        border-radius: 20px;
    }

    .aboutBack {
        width: 100%;
        height: 100%;
        background-color: lightcoral;
        color: #fff;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotateY(180deg);
        border-radius: 20px;
    }

    .aboutRight {
        width: 60%;
        height: 100%;
    }

    /* /Aboutme 영역 */

}

@media all and (min-width:768px) and (max-width:1023px) {
    /* header */
    header {
        background-color: transparent;
        width: 100%;
        padding: 0.8rem;
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 100;
        opacity: 1;
        box-sizing: border-box;
    }

    h1 img {
        width: 3em;
        margin-top: 1.2rem;
    }
    
    header:hover {
        background-color: var(--main_color02);
    }

    /* header scroll event */

    .on {
        width: 100%;
        height: 80px;
        padding: 0.6rem;
        position: fixed;
        right: 0px;
        top: 0px;
        transition: 1s;
        opacity: 1;
    }

    /* mainMenu 메인메뉴 스타일 */
    nav {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .mainMenu {
        display: flex;
    }

    .mainMenu li {
        width: 100%;
        height: 80px;
        line-height: 80px;
    }

    .mainMenu a {
        width: 100%;
        height: 100%;
        display: block;
        font-weight: bold;
        color: var(--main_color04);
        font-size: 1.2rem;
        padding: 0px 2em;
        box-sizing: border-box;
    }

    .mainMenu a:hover {
        color: var(--main_color07);
    }

    /* subMenu 서브메뉴 스타일*/
    .subBack {
        display: none;
    }

    .subMenu {
        display: none;
    }

    /* menuBar 서브메뉴 bar */
    .menuBar {
        display: none;
    }

    /* main 영역 */
    /* welcome section */
    #welcome {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
    .welDetail {
        width: 80%;
        height: 80vh;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* welLeft 영역 */

    .welDetail .welLeft {
        width: 60%;
        position: relative;
        overflow: hidden;
    }

    .welDetail .welLeft div {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /* opacity: 0; */
    }

    .welDetail .welLeft h3 {
        font-size: 6em;
        text-align: center;
        background: linear-gradient(90deg, rgb(0, 162, 255) 20%, rgb(153, 0, 255) 80%);
        color: transparent;
        background-clip: text;
        background-size: 150%;
    
        animation: 
            moveToLeft 2s ease-out forwards,
            moveGradient 2s linear infinite;
    }
    
    @keyframes moveToLeft {
        0% {
            opacity: 0;
            transform: translateX(-500px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes moveGradient {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 100% 50%;
        }
    }

    .welDetail .welLeft p {
        font-size: 2em;
        color: var(--main_color04);
        text-align: right;
        background: linear-gradient(150deg, rgb(153, 0, 255) 80%, rgb(238, 213, 255) 20%);
        color: transparent;
        background-clip: text;
        background-size: 150%;
    
        animation: 
            moveToRight 2s ease-out forwards,
            moveGra 2s linear infinite;;
    }
    
    @keyframes moveToRight {
        0% {
            transform: translateX(200px);
            opacity: 0;
        };

        100% {
            transform: translateX(0);
            opacity: 1;
        };
    }

    @keyframes moveGra {
        0% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    /* /welLeft 영역 */

    /* welRight 영역 */

    .welDetail .welRight {
        width: 40%;
        position: relative;
        overflow: hidden;
    }

    .welDetail .welRight div {
        width: 90%;
        height: 80%;
        min-height: 700px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
    }

    .welDetail .welRight div .welAll {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: 5px solid var(--main_color03);
        overflow: hidden;
        position: relative;

        animation: moveWelAll 1s ease-out forwards;
    }

    @keyframes moveWelAll {
        0% {
            transform: translateY(500px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }


    .welDetail .welRight div .welAll .welTop {
        width: 100%;
        height: 15%;
        overflow: hidden;
        padding: 1.2em;
        box-sizing: border-box;
    }

    .welDetail .welRight div .welAll .welTop > ul {
        display: flex;
        justify-content: space-between;
    }

    .welDetail .welRight div .welAll .welTop > ul > li:nth-child(2) {
        text-align: right;
        font-size: 1.5em;
        margin-top: 0.7em;
    }

    .welTopDetail {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .welTopDetail .welProfile {
        width: 50px;
        height: 50px;
    }

    .welTopDetail img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .welTopDetail li:nth-child(2) {
        margin-left: 0.8em;
    }

    .welTopDetail li:nth-child(2) p {
        width: 100%;
        margin-top: 0.5em;
    }

    .welDetail .welRight div .welAll .welMiddle {
        width: 100%;
        height: 55%;
        overflow: hidden;
    }

    .welDetail .welRight div .welAll .welMiddle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .welDetail .welRight div .welAll .welBottom {
        width: 100%;
        height: 30%;
        padding: 1.2em;
        box-sizing: border-box;
    }

    .welDetail .welRight div .welAll .welBottom > ul {
        width: 100%;
    }

    .welDetail .welRight div .welAll .welBottom > ul > li {
        width: 100%;
        margin-bottom: 0.8em;
    }

    .welBottomTop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    .welBottomTop li:nth-child(2) {
        text-align: right;
    }

    .heart {
        color: #f00;
    }

    

    /* /welRight 영역 */
    
    /* /welcome section */
}

@media all and (min-width:480px) and (max-width:767px) {
    /* header */
    header {
        background-color: transparent;
        width: 100%;
        padding: 0.8rem;
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 100;
        opacity: 1;
    }

    h1 img {
        width: 3em;
        margin-top: 0.5rem;
    }

    header:hover {
        background-color: var(--main_color02);
    }

    /* header scroll event */

    .on {
        width: 100%;
        height: 80px;
        padding: 0.6rem;
        position: fixed;
        right: 0px;
        top: 0px;
        transition: 1s;
        opacity: 1;
    }

    /* mainMenu 메인메뉴 스타일 */
    nav {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .mainMenu {
        display: none;
    }

    /* subMenu 서브메뉴 스타일*/

    .subBack {
        width: 100%;
        height: 100vh;
        background-color: var(--main_color02);
        position: fixed;
        top: 0%;
        left: 0%;
        display: none;
    }

    .subMenu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav .subMenu a {
        display: block;
        color: var(--main_color04);
        font-size: 2em;
        padding: 0px 3em;
        margin-bottom: 2rem;
    }

    nav .subMenu a:hover {
        color: var(--main_color06);
    }

    .viewControl {
        display: block;
        transition: 1s;
    }

    .viewContros {
        display: none;
    }

    /* menuBar 서브메뉴 bar */

    .menuBar {
        /* background-color: #eaf;*/
        width: 30px;
        height: 18px;
        position: relative;
        top: 0px;
        cursor: pointer;
        z-index: 30;
    }

    .bar01 {
        width: 30px;
        height: 2px;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: var(--dark_gray);
    }

    .bar02 {
        width: 20px;
        height: 2px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--dark_gray);
    }

    .bar03 {
        width: 30px;
        height: 2px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: var(--dark_gray);
    }

    .active .bar01 {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: 0.5s;
    }

    .active .bar02 {
        display: none;
    }

    .active .bar03 {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: 0.5s;
    }

    /* main 영역 */
    /* welcome section */
    #welcome {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
    .welDetail {
        width: 80%;
        height: 80vh;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* welLeft 영역 */

    .welDetail .welLeft {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 10;
    }

    .welDetail .welLeft div {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /* opacity: 0; */
    }

    .welDetail .welLeft h3 {
        font-size: 4em;
        text-align: center;
        background: linear-gradient(90deg, rgb(0, 162, 255) 20%, rgb(153, 0, 255) 80%);
        color: transparent;
        background-clip: text;
        background-size: 150%;
    
        animation: 
            moveToLeft 2s ease-out forwards,
            moveGradient 2s linear infinite;
    }
    
    @keyframes moveToLeft {
        0% {
            opacity: 0;
            transform: translateX(-500px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes moveGradient {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 100% 50%;
        }
    }

    .welDetail .welLeft p {
        font-size: 2em;
        color: var(--main_color04);
        text-align: right;
        background: linear-gradient(150deg, rgb(153, 0, 255) 80%, rgb(238, 213, 255) 20%);
        color: transparent;
        background-clip: text;
        background-size: 150%;
    
        animation: 
            moveToRight 2s ease-out forwards,
            moveGra 2s linear infinite;;
    }
    
    @keyframes moveToRight {
        0% {
            transform: translateX(200px);
            opacity: 0;
        };

        100% {
            transform: translateX(0);
            opacity: 1;
        };
    }

    @keyframes moveGra {
        0% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    /* /welLeft 영역 */

    /* welRight 영역 */

    .welDetail .welRight {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .welDetail .welRight div {
        width: 90%;
        height: 80%;
        min-height: 700px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
    }

    .welDetail .welRight div .welAll {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: 5px solid var(--main_color03);
        overflow: hidden;
        position: relative;

        animation: moveWelAll 1s ease-out forwards;
    }

    @keyframes moveWelAll {
        0% {
            transform: translateY(500px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }


    .welDetail .welRight div .welAll .welTop {
        width: 100%;
        height: 15%;
        overflow: hidden;
        padding: 1.2em;
        box-sizing: border-box;
    }

    .welDetail .welRight div .welAll .welTop > ul {
        display: flex;
        justify-content: space-between;
    }

    .welDetail .welRight div .welAll .welTop > ul > li:nth-child(2) {
        text-align: right;
        font-size: 1.5em;
        margin-top: 0.7em;
    }

    .welTopDetail {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .welTopDetail .welProfile {
        width: 50px;
        height: 50px;
    }

    .welTopDetail img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .welTopDetail li:nth-child(2) {
        margin-left: 0.8em;
    }

    .welTopDetail li:nth-child(2) p {
        width: 100%;
        margin-top: 0.5em;
    }

    .welDetail .welRight div .welAll .welMiddle {
        width: 100%;
        height: 55%;
        overflow: hidden;
    }

    .welDetail .welRight div .welAll .welMiddle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .welDetail .welRight div .welAll .welBottom {
        width: 100%;
        height: 30%;
        padding: 1.2em;
        box-sizing: border-box;
    }

    .welDetail .welRight div .welAll .welBottom > ul {
        width: 100%;
    }

    .welDetail .welRight div .welAll .welBottom > ul > li {
        width: 100%;
        margin-bottom: 0.8em;
    }

    .welBottomTop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    .welBottomTop li:nth-child(2) {
        text-align: right;
    }

    .heart {
        color: #f00;
    }

    

    /* /welRight 영역 */
    
    /* /welcome section */
}

@media all and (max-width:479px) {
    /* header */
    header {
        background-color: transparent;
        width: 100%;
        padding: 0.8rem;
        display: flex;
        justify-content: space-between;
        position: fixed;
        left: 0px;
        bottom: 0px;
        z-index: 100;
        opacity: 1;
    }

    h1 img {
        width: 3em;
        margin-top: 0.5rem;
    }

    header:hover {
        background-color: var(--main_color02);
    }

    /* header scroll event */

    .on {
        width: 100%;
        height: 80px;
        padding: 0.6rem;
        position: fixed;
        right: 0px;
        top: 0px;
        transition: 1s;
        opacity: 1;
    }

    /* mainMenu 메인메뉴 스타일 */
    nav {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    .mainMenu {
        display: none;
    }

    /* subMenu 서브메뉴 스타일*/

    .subBack {
        width: 100%;
        height: 100vh;
        background-color: var(--main_color02);
        position: fixed;
        top: 0%;
        left: 0%;
        display: none;
    }

    .subMenu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav .subMenu a {
        display: block;
        color: var(--main_color04);
        font-size: 2em;
        padding: 0px 3em;
        margin-bottom: 2rem;
    }

    nav .subMenu a:hover {
        color: var(--main_color06);
    }

    .viewControl {
        display: block;
        transition: 1s;
    }

    .viewContros {
        display: none;
    }

    /* menuBar 서브메뉴 bar */

    .menuBar {
        /* background-color: #eaf;*/
        width: 30px;
        height: 18px;
        position: relative;
        top: 0px;
        cursor: pointer;
        z-index: 30;
    }

    .bar01 {
        width: 30px;
        height: 2px;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: var(--dark_gray);
    }

    .bar02 {
        width: 20px;
        height: 2px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--dark_gray);
    }

    .bar03 {
        width: 30px;
        height: 2px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: var(--dark_gray);
    }

    .active .bar01 {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: 0.5s;
    }

    .active .bar02 {
        display: none;
    }

    .active .bar03 {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: 0.5s;
    }

    /* main 영역 */
    /* welcome section */
    #welcome {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    
    .welDetail {
        width: 80%;
        height: 80vh;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* welLeft 영역 */

    .welDetail .welLeft {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        z-index: 10;
    }

    .welDetail .welLeft div {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /* opacity: 0; */
    }

    .welDetail .welLeft h3 {
        font-size: 4em;
        text-align: center;
        background: linear-gradient(90deg, rgb(0, 162, 255) 20%, rgb(153, 0, 255) 80%);
        color: transparent;
        background-clip: text;
        background-size: 150%;
    
        animation: 
            moveToLeft 2s ease-out forwards,
            moveGradient 2s linear infinite;
    }
    
    @keyframes moveToLeft {
        0% {
            opacity: 0;
            transform: translateX(-500px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    @keyframes moveGradient {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 100% 50%;
        }
    }

    .welDetail .welLeft p {
        font-size: 2em;
        color: var(--main_color04);
        text-align: right;
        background: linear-gradient(150deg, rgb(153, 0, 255) 80%, rgb(238, 213, 255) 20%);
        color: transparent;
        background-clip: text;
        background-size: 150%;
    
        animation: 
            moveToRight 2s ease-out forwards,
            moveGra 2s linear infinite;;
    }
    
    @keyframes moveToRight {
        0% {
            transform: translateX(200px);
            opacity: 0;
        };

        100% {
            transform: translateX(0);
            opacity: 1;
        };
    }

    @keyframes moveGra {
        0% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    /* /welLeft 영역 */

    /* welRight 영역 */

    .welDetail .welRight {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .welDetail .welRight div {
        width: 90%;
        height: 80%;
        min-height: 550px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
    }

    .welDetail .welRight div .welAll {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: 5px solid var(--main_color03);
        overflow: hidden;
        position: relative;

        animation: moveWelAll 1s ease-out forwards;
    }

    @keyframes moveWelAll {
        0% {
            transform: translateY(500px);
            opacity: 0;
        }

        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }


    .welDetail .welRight div .welAll .welTop {
        width: 100%;
        height: 15%;
        overflow: hidden;
        padding: 1.2em;
        box-sizing: border-box;
    }

    .welDetail .welRight div .welAll .welTop > ul {
        display: flex;
        justify-content: space-between;
    }

    .welDetail .welRight div .welAll .welTop > ul > li:nth-child(2) {
        text-align: right;
        font-size: 1.5em;
        margin-top: 0.7em;
    }

    .welTopDetail {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .welTopDetail .welProfile {
        width: 50px;
        height: 50px;
    }

    .welTopDetail img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }

    .welTopDetail li:nth-child(2) {
        margin-left: 0.8em;
    }

    .welTopDetail li:nth-child(2) p {
        width: 100%;
        margin-top: 0.5em;
    }

    .welDetail .welRight div .welAll .welMiddle {
        width: 100%;
        height: 55%;
        overflow: hidden;
    }

    .welDetail .welRight div .welAll .welMiddle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .welDetail .welRight div .welAll .welBottom {
        width: 100%;
        height: 30%;
        padding: 1.2em;
        box-sizing: border-box;
    }

    .welDetail .welRight div .welAll .welBottom > ul {
        width: 100%;
    }

    .welDetail .welRight div .welAll .welBottom > ul > li {
        width: 100%;
        margin-bottom: 0.8em;
    }

    .welBottomTop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
    }

    .welBottomTop li:nth-child(2) {
        text-align: right;
    }

    .heart {
        color: #f00;
    }

    

    /* /welRight 영역 */
    
    /* /welcome section */
}